body {
  padding-bottom: 40px;
  background-color: #eee;
}

.form-horizontal {
  width: 300px;
  padding: 25px;
  margin: 0px;
}

p {
  max-width: 330px;
  padding: 10px;
  margin: 0 auto;
}

p .helptext{
  visibility: visible;
}
